* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cabecalho {
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartao {
    width: 260px;
    height: 260px;
}

/* Nome da classe corrigido para .cartao-imagem */
.cartao-imagem {
    width: 100%;
}